# Node.js dependencies
node_modules/

# Build output
dist/
build/

# IDE/Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Personal directories
AppData/
.config/
.gitconfig
.github/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
LOST ARK.url
STOVE.lnk
Visual Studio Code.lnk
